<!DOCTYPE html>
<html>
<head>
  <title>ClubPortfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
